:root{
    /* ===== Colour Variable ===== */
    --body-color: #fafafa;
    --box-color: #ffffff;
    --text-color: #403a3a;
    --notification-color: #eb413e;
    --icon-color: #969696;
    --button-color: #005ac2;
}

/* ===== Base ===== */
*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--body-color);
    font-family: 'Poppins';
    font-weight: 500;
}

h1, h2, h3, h4, ul, p, button {
    margin: 0;
    padding: 0;
    text-align: start;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* ===== Navbar  CSS ===== */
.main nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5rem;
    height:  4.9rem;
    position: sticky;
    top: 0%;
    z-index: 2;
    background-color: var(--box-color);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1),
            0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

nav .logo-box{
    color: var(--text-color);
    font-weight: 800;
    font-family: 'Montserrat Alternates';
}

nav .menu-box{
    display: flex;
    list-style: none;
    font-weight: 600;
    color: var(--text-color);
}
.menu-box .select-menu .menu{
    padding: 1.7rem;
    font-size: medium;
    font-weight: 600;
    color: var(--text-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.menu-box .select-menu .menu:hover{
    text-decoration: underline;
}
.menu-box .select-menu .dropdown-list{
    display: none;
    position: absolute;
    background-color: var(--box-color);
    padding: 2.5rem;
    border: none;
    z-index: 1;
}
.dropdown-list li a{
    cursor: pointer;
}
.dropdown-list li a:hover{
    text-decoration: underline;
}
.select-menu ul li:not(:last-child){
    margin-bottom: 1.3rem;
}
.select-menu:hover  .dropdown-list{
    display: block;
}

nav .search-box{
    color: var(--text-color);
}
.search-box input{
    display: none;
}
.search-box i{
    cursor: pointer;
}
.main .carousal-box{
    width: 100%;
    height: 40rem;
    background-size: cover;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8) ), url('../img/book.jpg');
}

/* ===== Carousaol ===== */
.carousal-box{
    position: relative;
 }
  .text-image{
     width: 60rem;
     padding: 0 10rem;
     position: absolute;
     top: 40%;
     color: white;
 }.text-image .label{
     font-size: 1.1rem;
     font-weight: 600;
     margin-bottom: 1.2rem;
 }
 .text-image .title{
     font-family: 'Montserrat Alternates';
     font-size: 2.9rem;
     font-weight:bolder;
 }
 .text-image .discription{
     margin-top: 1.5rem;
     font-size: 1.1rem;
     font-weight:600;
 }

 /* ===== Main Part ===== */
 .main .main-box{
    margin: 1rem;
    padding: 4rem 14rem;
    box-sizing: border-box;
 }
 .form-box{
    margin-top: 2rem;
    width: 100%;
 }
 .form-box .name-field{
    display: flex;
    flex-direction: column;
 }
 .name-field input{
    width: 100%;
    height: 4rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #969696;
    padding: 0 1rem;
    outline: none;
    font-size: medium;
 }
 .name-field input[type='submit']{
    background-color: #005ac2;
    border: none;
    color: #fff;
    font-size: large;
    font-weight: 600;
 }
 .double-field{
    display: flex;
 }
 .double-field .email-box{
    width: 100%;
    margin-right: 0.3rem;
 }
 .double-field .mobile-box{
    width: 100%;
    margin-left: 0.3rem;
 }
 .email-box input,
 .mobile-box input{
    width: 100%;
    height: 4rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #969696;
    padding: 0 1rem;
    outline: none;
    font-size: medium;
 }

 /* ===== Footer CSS ===== */
.footer-box{
    background-color: var(--button-color);
    color: var(--box-color);
}
.footer-box .head-box{
    padding: 2.5rem 6rem;
}
.head-box .name-box{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.head-box .content-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.content-box .service-box h3,
.content-box .customer-box h3,
.content-box .info-box h3,
.content-box .company-box h3{
    margin-bottom: 1.2rem;
}
.content-box div ul li{
    margin: 0.7rem 0;
}
.content-box div ul li a{
    cursor: pointer;
}
.content-box div ul li a:hover{
    text-decoration: underline;
}

.head-box .social-box{
    padding: 2rem 25rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-box li a i{
    font-size: 1.8rem;
}


.footer-box .copyright-box{
    padding: 2rem 6rem;
    background-color: #00489b;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copyright-box .opt-box{
    list-style: none;
    display: flex;
    align-items: center;
}
.opt-box li{
    margin-right: 0.9rem;
    padding-right: 0.9rem;
    cursor: pointer;
}
.opt-box li:not(:last-child){
    border-right: 0.15rem solid var(--box-color);
}